{% extends 'base.html.twig' %}

{% block title %}autos{% endblock %}

{% block body %}

<h1>Liste des voitures</h1>
<div class="text-end">
    <a href="{{ path('app_add')}}" class="btn btn-warning"><i class="fas fa-plus"></i></a>
</div>
<div class="offset-8 col-4" >
    {{form_start(form_search)}}
    {{form_widget(form_search)}}
    <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
    {{form_end(form_search)}}
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marque</th>
            <th>Modele</th>
            <th>Pays</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Image</th>
            <th>Description</th>
            <th  colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for car in tabCars %}
        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.marque }}</td>
            <td>{{ car.modele }}</td>
            <td>{{ car.pays }}</td>
            <td>{{ car.prix }}€</td>
            <td>{{ car.category.name }}</td>
            <td><img src="{{ asset('images/' ~ car.image)}}" alt="" width="100"/></td>
            <td>{{ car.Description }}</td>
<td><a href="{{ path('app_edit', {id: car.id})}}" class="btn btn-success"><i class="fas fa-pen"></i></a></td>
            <td><a onclick="return confirm('Etes-vous sûr de supprimer')" href="{{ path('app_delete', {id: car.id})}}" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
